<!DOCTYPE html>
<html lang="ru">

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta charset="UTF-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="css/conrol.css">
   <title>Панель управления</title>
</head>

<body class="bg-light">
   <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
         <a class="navbar-brand" href="#">Cистема управления общежитием</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                  <a class="nav-link navig" href="#">Расселение</a></li>
               <li class="nav-item">
                  <a class="nav-link navig" href="#">Жалобы</a></li>
               <li class="nav-item">
                  <a class="nav-link navig" href="#">Строй-отряд</a></li>
               <li class="nav-item">
                  <a class="nav-link navig" href="#">Объявления</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
               <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Выход</button>
            </form>
         </div>
      </div>
   </nav>
   <div class="container mt-3">
      <div class="row">
         <div class="col-sm-9 order-2 order-sm-1">
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">ID</th>
                     <th scope="col">Кв./К.</th>
                     <th scope="col">Ф.И.О.</th>
                     <th scope="col">Курс</th>
                     <th scope="col">Действия</th>
                  </tr>
               </thead>
               <tbody>
                  {{#each users}}
                  <tr>
                     <th scope="row">{{this.id}}</th>
                     <td>{{this.flat}}<small>/{{this.room}}</small></td>
                     <td>{{this.second_name}} {{this.first_name}} {{this.last_name}}</td>
                     <td>{{this.course}}</td>
                     <td>
                        <a href="#STUDENTLINK{{this.id}}" class="badge badge-pill badge-info" data-toggle="collapse"
                           role="button" aria-expanded="false" aria-controls="collapseExample"><i
                              class="fa fa-info-circle"></i>
                        </a>
                        <a href="###STUDENTLINKEDIT" class="badge badge-pill badge-success"><i
                              class="fa fa-pencil"></i></a>
                        <a href="#STUDENTLINK{{this.id}}{{this.id}}" class="badge badge-pill badge-danger"
                           data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample"><i
                              class="fa fa-trash-o"></i> </a>
                        <a href="###STUDENTSEL" class="badge badge-pill badge-primary"><i class="fa fa-check"></i></a>
                     </td>
                  </tr>
                  <tr>
                     <td colspan="5" style="padding: 0;">
                        <div class="collapse" id="STUDENTLINK{{this.id}}">
                           <div class="card card-body">
                              <p>
                                 <b>Личная информация</b><br>
                                 <b>Ф.И.О.: </b>{{this.second_name}} {{this.first_name}} {{this.last_name}}<br>
                                 <b>Дата рождения: </b>{{this.birthday}}<br>
                                 <b>Институт: </b>{{this.institute}}<br>
                                 <b>Форма обучения: </b>{{this.type}}<br>
                                 <b>Курс: </b>{{this.course}}</br>
                                 <b>Паспортные данные</b><br>
                                 <b>Серия, номер: </b>{{this.pas_serial}} {{this.pas_number}} <b>Дата выдачи:
                                 </b>{{this.date_vidan}}<br>
                                 <b>Выдан: </b>{{this.vidan}} <br>
                                 <b>Постоянная регистрация: </b>{{this.reg}}<br>
                                 <b>Данные о договоре</b><br>
                                 <b>Номер: </b>{{this.dog_num}}<b> Дата заключения: </b>{{this.date_start}}<b>
                                    Окончание:
                                 </b>{{this.date_end}}
                              </p>
                           </div>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td colspan="5" style="padding: 0;">
                        <div class="collapse" id="STUDENTLINK{{this.id}}{{this.id}}">
                           <div class="card card-body">
                              <h5 class="card-title">Удалить стдуента?</h5>
                              <p class="card-text">Это действие невозможно отменить</p>
                              <form action="delete/{{this.id}}_{{this.flat}}_{{this.room}}" method="POST">
                                 <button type="submit" class="btn btn-primary">Удалить</button>
                              </form>
                           </div>
                        </div>
                     </td>
                  </tr>
                  {{/each}}
               </tbody>
            </table>
         </div>
         <div class="col-sm-3 order-1 order-sm-2 h-50" style="background-color:#FFFFFF">
            <form method="POST">
               <div class="form-group">
                  <h5>Именной поиск</h5>
                  <label for="filterSecondname">Фамилия</label>
                  <input type="text" name="s_n" class="form-control" id="filterSecondname"
                     placeholder="Введите фамилию">
                  <label for="filterFirstname">Имя</label>
                  <input type="text" name="f_n" class="form-control" value="" id="filterFirstname"
                     placeholder="Введите имя">
               </div>
               <div class="form-group">
                  <h5>Квартирный поиск</h5>
                  <label for="filterFlat">Введите квартиру или интервал</label>
                  <input type="text" name="kv" class="form-control" id="filterFlat" placeholder="Номер квартиры">
               </div>
               <div class="form-group">
                  <h5>Функциональный поиск</h5>
                  <div class="form-check">
                     <label class="form-check-label">
                        <input class="form-check-input" name="dz" type="checkbox" value="dz" id="">Денежная
                        задолженность
                     </label>
                  </div>
                  <div class="form-check">
                     <label class="form-check-label">
                        <input class="form-check-input" name="so" type="checkbox" value="so" id="">Строй-отрядовец
                     </label>
                  </div>
                  <br />
                  <button type="submit" class="btn btn-success col-12">Поиск</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title"
      data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/2214f17bb6.js" crossorigin="anonymous"></script>
   <script>
      $(function () {
  $('[data-toggle="popover"]').popover()
})
   </script>
</body>

</html>